[user]
  name = Luis Araújo
  email = l.araujoo.1996@gmail.com

[core]
  editor = code --wait
  excludesfile = ~/.dotfiles/gitignore

[alias]
  standup = !git log --all --author=$USER --format=%s --since '9am last week'

[branch]
  autosetuprebase = always

[pull]
  rebase = true
