# This is Git's per-user configuration file.
[user]
	name = Luis
	email = 44007026+LAraujo7@users.noreply.github.com
# Please adapt and uncomment the following lines:
#	name = Luis Araujo
#	email = 44007026+LAraujo7@users.noreply.github.com
